---
layout: layouts/page.njk
title: Blog
tags: []
---
<ul class="post-list">
  {%- for post in collections.post | reverse %}
  <li>
    <a href="{{ post.url }}">
      <span class="post-title">{{ post.data.title }}</span>
      <time class="post-date" datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
    </a>
  </li>
  {%- endfor %}
</ul>
