<footer class="site-footer">
  <div class="footer-inner">
    <a href="https://www.nist.gov/" target="_blank" rel="noopener" class="footer-nist-link">
      <img src="https://www.nist.gov/libraries/nist-component-library/dist/img/logo/NIST-Logo-Brand-White.svg" alt="NIST" class="footer-nist-logo">
    </a>

  </div>
  <div class="footer-nist-links">
    <a href="https://www.nist.gov/privacy-policy">Site Privacy</a>
    <a href="https://www.nist.gov/oism/accessibility">Accessibility</a>
    <a href="https://www.nist.gov/privacy">Privacy Program</a>
    <a href="https://www.nist.gov/oism/copyrights">Copyrights</a>
    <a href="https://www.commerce.gov/vulnerability-disclosure-policy">Vulnerability Disclosure</a>
    <a href="https://www.nist.gov/no-fear-act-policy">No Fear Act</a>
    <a href="https://www.nist.gov/foia">FOIA</a>
    <a href="https://www.nist.gov/environmental-policy-statement">Environmental Policy</a>
    <a href="https://www.nist.gov/summary-report-scientific-integrity">Scientific Integrity</a>
    <a href="https://www.nist.gov/nist-information-quality-standards">Info Quality Standards</a>
    <a href="https://www.commerce.gov/">Commerce.gov</a>
    <a href="https://www.science.gov/">Science.gov</a>
    <a href="https://www.usa.gov/">USA.gov</a>
  </div>
</footer>
